<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2></h2>

  <div [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}" class="form-control">
    <label for="title">Title:</label>
    <input id="title" type="text" formControlName="title">
    <div *ngIf="form.get('title').touched && form.get('title').invalid" class="validation">
      <small *ngIf="form.get('title').errors.required">Title is required</small>
    </div>
  </div>

  <div class="form-control">
    <label>Content post</label>
    <quill-editor formControlName="text"></quill-editor>
  </div>

  <div [ngClass]="{invalid: form.get('author').touched && form.get('author').invalid}" class="form-control">
    <label for="author">Author:</label>
    <input id="author" type="text" formControlName="author">
    <div *ngIf="form.get('author').touched && form.get('author').invalid" class="validation">
      <small *ngIf="form.get('author').errors.required">Author is required</small>
    </div>
  </div>

  <button class="btn btn-block btn-dark" type="submit" [disabled]="form.invalid">Create</button>
</form>