<div *ngIf="form; else loading">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <div [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}" class="form-control">
      <label for="title">Title:</label>
      <input id="title" type="text" formControlName="title">
      <div *ngIf="form.get('title').touched && form.get('title').invalid" class="validation">
        <small *ngIf="form.get('title').errors.required">Title is required</small>
      </div>
    </div>

    <div class="form-control">
      <label>Content post</label>
      <quill-editor formControlName="text"></quill-editor>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="form.invalid || submitted">Edit</button>
  </form>
</div>
<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>