<div class="alert-wrap" *ngIf="text">
  <div class="alert" [ngClass]="{
    'alert-success': type === 'success',
    'alert-danger': type === 'danger',
    'alert-error': type === 'error'
  }">
    <p>{{ text }}</p>
  </div>