<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Log in to the admin panel</h2>

  <div class="alert alert-danger" *ngIf="auth.error$ | async as error">
    {{ error }}
  </div>

  <div class="alert alert-info" *ngIf="message">
    {{ message }}
  </div>

  <div [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}" class="form-control">
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
    <div *ngIf="form.get('email').touched && form.get('email').invalid" class="validation">
      <small *ngIf="form.get('email').errors.required">Email is required</small>

      <small *ngIf="form.get('email').errors.email">Email is not correct</small>
    </div>
  </div>

  <div [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}" class="form-control">
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password">
    <div *ngIf="form.get('password').touched && form.get('password').invalid" class="validation">
      <small *ngIf="form.get('password').errors.required">Password is required</small>

      <small *ngIf="form.get('password').errors.minlength">Password must be at least 6 characters</small>
    </div>
  </div>

  <button [disabled]="form.invalid || submitted" type="submit" class="btn btn-primary">Log in</button>

</form>