<div *ngIf="posts.length; else loading">
  <div class="search_block">
    <input type="text" placeholder="Find post by title..." [(ngModel)]="searchPost">
  </div>

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
        <th>Options</th>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts | filterPosts:searchPost; let idx = index">
        <td>{{ idx + 1 }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.author }}</td>
        <td>{{ post.date | date:'medium'}}</td>
        <td>
          <button class="btn btn-link open" [routerLink]="['/admin', 'post', post.id, 'edit']">Edit</button>
          <a (click)="remove(post.id)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #loading>
  <p class="text-center">loading...</p>
</ng-template>